
#container {
  margin-top: 5em;
}

.modal-header {
  padding-bottom: 24px !important;
}

ul.nav li.active {
  background-color: #00776C;
}

ul.nav li.pull-right {
  margin-right: 1em;
}

ul.nav li.pull-right a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

ul.nav li.pull-right a.active {
  /* color */
  background-color: #00776C !important;
}

table.table div.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.role-pill > a {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}

.permission-pill {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;

  border-radius: 4px;

  position: relative;
  display: block;
  padding: 10px 15px;
}

a.permission-delete {
  color: #aaa;
  border-left: 1px solid #ccc;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: -1em;
}

a.permission-delete:hover {
  color:#a94442
}


.filter-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}



.tile div.panel {
  margin-left: 0;
  margin-right: 0;
}


.inline-editor {
  line-height: 1.5;
}

.editor-glyph {
  font-size: medium;
  margin-left: 0.5em;
}

.inline-editor > a {
  display: none;
}

.inline-editor > span:hover + a {
  display: inline;
}

.inline-editor:hover > a {
  display: inline;
}

.history-row .panel {
  margin-bottom: 0.5em;
}
