
#container {
  margin-top: 5em;
}

.role-pill > a {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}

.permission-pill > a {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}
