
#container {
  margin-top: 5em;
}

.modal-header {
  padding-bottom: 24px !important;
}

nav ul li.active {
  background-color: #00776C;
}

table.table div.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.role-pill > a {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}

.permission-pill {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;

  border-radius: 4px;

  position: relative;
  display: block;
  padding: 10px 15px;
}

a.permission-delete {
  color: #aaa;
  border-left: 1px solid #ccc;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: -1em;
}

a.permission-delete:hover {
  color:#a94442
}


.filter-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor-glyph {
  font-size: medium;
  margin-left: 0.5em;
}
